/* FORMATAÇÃO GERAL */
*{
margin: 0;
padding: 0;
font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

/* FUNDO-HOME */
.fundo-home{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.415),rgba(0, 0, 0, 0.500)),url(img/213248.jpg);
background-size: cover;
background-position: center;
}

/* FUNDO-SOBRENOS */
.fundo-sobrenos{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.415),rgba(0, 0, 0, 0.415)),url(img/ALym25.jpg);
background-size: cover;
background-position: center;
}
/* HEADER */
.nav-bar{
width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo{
width: 200px;
cursor: pointer;
}

.nav-bar ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}

.nav-bar ul li a{
text-decoration: none;
color: #fff;
text-transform: uppercase;
}

.nav-bar ul li::after{
content: '';
height: 3px;
width: 0%;
background: #0000ff;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}

.nav-bar ul li:hover::after{
width: 100%;
}

/* CONTEÚDO-HOME */
.conteudohome{
width: 100%;
position: absolute;
top: 55%;
transform: translateY(-50%);
text-align: center;
color: #fff;
}

.conteudo h1{
font-size: 70px;
margin-top: 80px;
}

.conteudo p{
margin: 20px auto;
font-weight: 100;
line-height: 25px;
}

button{
width: 200px;
padding: 15px 0;
text-align: center;
margin: 20px 10px;
border-radius:  25px;
font-weight: bold;
border: 2px solid #0000ff2d;
background: #0000ff2d;
color: #fff;
cursor: pointer;
transition: .4s;
}

button:hover{
background: #0000ff;
border: 2px solid #0000ff;
cursor: pointer;
}


/* SOBRE-NÓS */

.sobre{
width: 100% ;
padding: 78px 0px;
background-color: #d1caca;
}

.sobre img{
height: auto;
width: 420px;
border-radius: 5px;
}

.sobretexto{
width: 550px;
}

.conteudosobre{
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}

.sobretexto h1{
color: white;
font-size: 80px;
text-transform: capitalize;
margin-bottom: 20px;
}

.sobretexto h5{
color: white;
font-size: 25px;
text-transform: capitalize;
margin-bottom: 25px;
letter-spacing: 2px;
}

.sobretexto span{
color: #0000ff;   
}

.sobretexto p{
color: black;
letter-spacing: 1px;
line-height: 28px;
font-size: 18px;
margin-bottom: 45px;
}

.sobretexto button{
background: #0000ff2d;
color: white;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 13px 30px;
border-radius: 30px;
transition: .4s;
}

.sobretexto button:hover{
background: #0000ff;
border: 2px solid #0000ff;
cursor: pointer;
}