/* FORMATAÇÃO GERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #e8f1f2;
}

/* SIDE-BAR */
.sidebar{
  height: 100%;
  width: 78px;
  background: #000000ba;
  top: 0;
  left: 0;
  padding: 6px 14px;
  position: fixed;
  transition: all 0.5s ease;
}

.sidebar.active{
  width: 240px;
}

.sidebar .logo_conteudo .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo_conteudo .logo{
  opacity: 1;
  pointer-events: none;
  
}

.logo_conteudo .logo i{
  font-size: 28px;
  margin-right: 5px;
}

.logo_conteudo .logo .logo_nome{
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn{
  color: #fff;
  position: absolute;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn{
  left: 90%;

}

.sidebar ul{
  margin-top: 20px;
}

.sidebar ul li{
  list-style: none;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  position: relative;
  line-height: 50px;
}

.sidebar ul li .ferramenta{
  position: absolute;
  height: 35px;
  width: 122px;
  background: #fff;
  left: 122px;
  top: 50%;
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  transform: translate(-50% , -50%);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: block;
}

.sidebar.active ul li .ferramenta{
  display: none;

}

.sidebar ul li:hover .ferramenta{
  top: 50%;
  transition: all 0.5s ease;
  opacity: 1;
}

/* 
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #13639193;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
} */

/* .sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover{
background: #fff;
color:#1d1b32;
} */

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}

.sidebar ul li i{
height: 50px;
border-radius: 12px;
min-width: 50px;
line-height: 50px;
text-align: center;
}

.sidebar .links_nome{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5 ease;
}
.sidebar.active .links_nome{
  opacity: 1;
  pointer-events: auto;
}

.sidebar .perfil_conteudo{
position: absolute;
color: #fff;
bottom: 0;
left: 0;
width: 100%;
}

.sidebar .perfil_conteudo .perfil{
  position: relative;
  padding: 10px 6px;
  height: 60px;
  transition: all 0.4s ease;
  background: none;
}

.sidebar.active .perfil_conteudo .perfil{
  background: #00000079;
}

.perfil_conteudo .perfil .perfil_detalhes{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .perfil .perfil_detalhes{
  opacity: 1;
  pointer-events: auto;
}

.perfil .perfil_detalhes img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.perfil .perfil_detalhes .profissao{
  margin-left: 10px;
}

.perfil .perfil_detalhes .nome{
  font-size: 15px;
  font-weight: 400;
}

.perfil .perfil_detalhes .job{
  font-size: 12px;
}

.perfil #log_out{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.5s ease;
  background: #000000ba;
  cursor: pointer;
}

.sidebar.active .perfil #log_out{
  left: 88%;
}

.sidebar.active .perfil #log_out{
  background: #00000079;
}



/* CONTEUDO Receitas */

.home_conteudo{
  position: absolute;
  height: 100%;
  left: 50px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}

.home_conteudo .texto{
  font-size: 25px;
  font-weight: 500;
  color: #1d1b32;
  margin-top: 12px;
  justify-content: center;
  display: flex;
}

.sidebar.active ~ .home_conteudo{
  width: calc(100% - 240px);
  left: 240px;
}

/* RECEITAS */

.container{
  display: flex;
  justify-content: space-between;
  margin: 0px 8rem;
  margin-top: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 370px;
  padding: 22px;
  transition: all 0.4s ease;
}

.card:hover{
  transform: scale(0.96);
}

.card img{
  height: 173px;
  width: auto;
}

.card_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  padding: 20px 50px;
}

.card_body h3{
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 22px;
}


.card_body hr{
  width: 80%;
  height: 2px;
  background: gray;
}

.card_body ul{
  display: flex;
  align-items: center;
}

.card_body ul li{
  list-style:none ;
  padding: 8px;
}

.card_body ul li i{
  color: gray;
  font-size: 10px;
  margin-right: 10px;
}

.card_body ul li span{
  color: #1b98e0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.card_body p{
  margin-top: 15px;
}

.card_body button{
  background: #1b98e0;
  color: wheat;
  padding: 5px 40px;
  border: none;
  margin-top: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.card_body button:hover{
  border: 1px solid #1b98e0;
  color: #1b98e0;
  background: white;
}
.card_body button a{
  text-decoration: none;
  color: wheat;
}

/* VOTACAO */

/* .graph{
  margin-left: 50%;
}

.card{
  margin-right: 50%;
} */

.escolha{
  margin-left: 25%; 
  margin-top: 5%; 
}

.fotovotacao{
 display: flex;
flex-direction: row;
justify-content: space-around;
margin-right: 20%;
}


.strogonoff{
  background-image: url(img/strogonoff.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 15vw;
  border-radius: 10px;
}
.parmegiana{
  background-image: url(img/parmegiana.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 15vw;
  border-radius: 10px;
}
.nhoque{
  background-image: url(img/nhoque.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 15vw;
  border-radius: 10px;
}

.home_conteudo button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius:  25px;
  font-weight: bold;
  border: 2px solid #1b98e082;
  background: #1b98e082;
  color: #fff;
  cursor: pointer;
  transition: .4s;
  /* margin-top: 10%; */
}

.home_conteudo button:hover{
  background: #1b98e0;
  border: 2px solid #1b98e0;
  cursor: pointer;
  }